@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body{
    font-family: "Poppins", sans-serif;
    background: #fff ;
    color: #2e2d2d;
    height: 100%;
    overflow: auto !important;
}
html,body{
    scroll-behavior: smooth;
}
.navbar .navbar-toggler:focus{
    box-shadow: none;
}
.navbar .navbar-toggler span{
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px 0px;
    border-radius: 8px;
    background-color: #2e2d2d;
    transition: 0.3s;
}
.navbar .navbar-toggler[aria-expanded = "true"] span{
    position: fixed;
    right: 27px;
    top: 37px;
    display: block;
    width: 25px;
    height: 3px;
    margin: 6px 0px;
    border-radius: 8px;
    background-color: #2e2d2d;
    transition: 0.3s;
}
.navbar .navbar-toggler[aria-expanded = "true"] span:nth-child(1){
    transform: translateY(-4px) rotate(45deg);
    background-color: rgb(240, 69, 69);
}
.navbar .navbar-toggler[aria-expanded = "true"] span:nth-child(2){
    display: none;
}
.navbar .navbar-toggler[aria-expanded = "true"] span:nth-child(3){
    transform: translateY(-5px) rotate(-45deg);
    background-color: rgb(240, 69, 69);
}
.grid-2 article a:hover{
    transition: 0.5s;
    height: 150px !important;
}
section .figure::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    /* background-color: #1c375bb9; */
    /* background-color: #ff5c21; */
    background-color: #2f4574;
    width: 100%;
    height: 100%;
}
.grid-3{
    background-image: url(./figure/9dde1250364ce0be284b0c19c4e01c08.jpg);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main .slider{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    gap: 0px 20px;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
    overflow-x: scroll;
    scroll-behavior: smooth;
}
main .slider::before{
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    left: -10px;
    top: 0px;
    filter: blur(20px);
    background-color: #FFf;
    z-index: 3;
}
main .slider::after{
    content: "";
    position: absolute;
    width: 24px;
    height: 100%;
    right: -10px;
    top: 0px;
    background-color: #FFf;
    filter: blur(20px);
    z-index: 3;
}
main .slider::-webkit-scrollbar{
    display: none;
}
main .slider h1{
    width: 100px;
    height: 40px;
    padding: 5px;
    transition: 0.4s;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    display: grid;
    place-items: center;
    font-weight: normal;
    border-radius: 40px;
    background-color: #2196f3;
    white-space: nowrap;
}
main .slider h1:hover{
    background-color: #1787e0;
}
.grid-view{
    padding: var(--section-padding);
    position: relative;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    margin: 30px 0px;
    gap:30px;
}

.skeleton-header,
.skeleton-body,
.skeleton-footer {
    background-color: #e0e0e0;
    border-radius: 4px;
    animation: skeleton-loading 1.2s infinite;
    margin: 10px 0px;
}

@keyframes skeleton-loading {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #c0c0c0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

@media screen and (max-width: 767px){
    .x{
        font-size: 50px !important;
    }
    section .figure{
        justify-content: start  !important;
        align-items: start !important;
        width: 11rem !important;
    }
    section h1{
        font-size: 32px !important;
    }
    .grid-3{
        flex-direction: column;
    }
    .grid-3 .caption p{
        font-size: 13px !important;
    }
    .grid-4  article{
        width: 190px !important;
    }
    .grid-6 article .step{
        font-size: 16px !important;
    }
    .items .item{
        flex-direction: column;
        align-items: start !important;
    }
    .items .item img{
        width: 200px !important;
    }
    .items  .caption{
        width: 100% !important;
        font-size: 13px !important;
    }
}    

.webflow{
    animation-duration: 10s;
    animation:  webflowShowAnimation both;
    animation-timeline: view();
}
@keyframes webflowShowAnimation{
    0%{
        opacity: 0;
        transform: translateY(300px);
    }
    20%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
} 

.autoshow{
    animation: autoShowAnimation both;
    animation-timeline: view();
}
@keyframes autoShowAnimation{
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }
    10%,70%{
        opacity: 1;
        transform: translateX(0px);
    }
    100%{
        opacity: 0;
        transform: translateX(-200px);
    }
} 

.down-animation{
    animation: down-animation 1s both;
    animation-timeline: view();
}
@keyframes down-animation{
    0%{
        opacity: 0;
    }
    60%{
        opacity: 1;
    }
    100%{
        opacity: 1;
    }
} 

.blur-animation{
    animation: blurAnimation 2s both;
    animation-timeline: view();
}
@keyframes blurAnimation{
    0%{
        filter: blur(40px);
    }
    40%,70%{
        filter: blur(0px)
    }
    100%{
        filter: blur(40px);
    }
} 